<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qinyue.vmain">

    <application>
        <activity android:name=".activity.LoginActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
    </application>
</manifest>